.rental-presentation {
    display: flex;
    justify-content: space-between;
}

.tags-wrapper {
    display: flex;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.rental__collapse-wrapper {
    display: flex;
}

.rental__collapse {
    gap: 70px;
}